{% extends 'malla/base.html' %}

{% block title %}Crear Materia para {{ semester.name }}{% endblock %}

{% block content %}
<h1>Crear Materia para {{ semester.name }}</h1>
<form method="post" class="mb-3">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.name.id_for_label }}" class="form-label">Nombre de la Materia</label>
        {{ form.name}}
    </div>
    <div class="mb-3">
        <label for="{{ form.prerequisites.id_for_label }}" class="form-label">Prerrequisitos</label>
        {{ form.prerequisites }}
    </div>
    <button type="submit" class="btn btn-primary">Agregar Materia</button>
</form>
<a href="{% url 'malla:subject_list' semester.id %}" class="btn btn-link">Volver a Materias</a>
{% endblock %}