{% extends 'malla/base.html' %}

{% block title %}Crear Semestre{% endblock %}

{% block content %}
<h1>Crear Semestre</h1>
<form method="post" class="mb-3">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.name.id_for_label }}" class="form-label">Nombre del Semestre</label>
        {{ form.name }}
    </div>
    <button type="submit" class="btn btn-primary">Agregar Semestre</button>
</form>
<a href="{% url 'malla:semester_list' %}" class="btn btn-link">Volver a Semestres</a>
{% endblock %}
